* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: 'Roboto', Arial, sans-serif;
}

#header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  z-index: 4;
}

.menu-top {
  display: flex;
}

.menu-top li {
  margin-left: 4px;
}

.menu-top li a {
  display: block;
  padding: 10px;
}

a.menu-botao {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px 30px;
  border-radius: 9px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

a.menu-botao:hover {
  background-color: #f0f2f2;
  color: black;
  font-weight: bold;
}

#logo {
  font-family: 'Limelight', cursive;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner1 {
  background-image: url(../img/baner\ 1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
}

#banner2 {
  background-image: url(../img/banner\ 2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
}

.grupos {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-content: ;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/fundo\ imagem\ site.jpg");
}

.capa img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid white;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  z-index: 2;
}

.capa img:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 100px;
  align-items: center;
  flex-wrap: wrap;
  background: black;
  color: white;
  text-align: center;
  
}

@media (max-width: 689px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 690px) and (max-width: 1045px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
